@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

.title {
  text-align: center;
}

.gallery {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid black;
  width: 300px;

}

.description {
    font-weight: bold;
}
.marco {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 250px;
  max-height: 250px;
}

.card p {
  text-align: center;
  margin: 5px;
}

.price {
    color: darkblue;
    font-weight: 600;
}