* {
  box-sizing: border-box;
}

.title {
  text-align: center;
}

.gallery {
  display: flex;
  gap: 20px;
}

.card {
  border: 1px solid black;
  width: 300px;
}

.marco {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  margin-top: 10px;
  max-width: 250px;
  max-height: 250px;
}

.card p {
  text-align: center;
}
