.contenedor {
  display: flex;
  justify-content: center;
}

.contenedor img {
  max-width: 60%;
  margin: 10px auto;
}

/* Reglas CSS para dispositivos móviles */
@media only screen and (max-width: 767px) {
  .contenedor img {
    width: 90%;
    margin: 5px;
  }
}
